.page-header {
  text-align: center;
  padding: 1.8rem;
  background-color: hsl(229, 100%, 79%);
  color: rgb(0, 0, 0);
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 2rem;
  text-align: center;
}

.posts-card {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border-radius: 15px;
  background-color: #a2b0ff;
  display: flex;
  flex-direction: column;
}

.posts-card button {
  align-self: flex-end;
  margin-top: 1rem;
  padding: 0.4rem 1rem;
}